<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <address>
          {% if site.author %}
            {{ site.author | escape }}
          {% else %}
            {{ site.title | escape }}
          {% endif %}
          {% if site.email %}
          <br><a href="mailto:{{ site.email }}">{{ site.email }}</a>
          {% endif %}
        </address>
      </div>
      <div class="col text-center">
        <ul class="list-unstyled">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
          </li>
        </ul>
      </div>
      <div class="col text-right">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>