<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="{{ "/assets/img/icon.png" | relative_url }}">
  <!-- Place favicon.ico in the root directory -->

  <!-- HTML5 Boilerplate -->
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/h5bp.css" | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

  <!-- Author custom CSS -->
  <link rel="stylesheet" type="text/scss" href="{{ "/assets/css/main.css" | relative_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>