---
layout: default
---

<div class="home">
  {% for post in site.posts limit:1 %}
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} 
  <div class="card my-4 mx-auto">
    <h3 class="card-header">Latest Blog Post</h3>
    <div class="card-block">
      <section class="jumbotron text-center blog-jumbotron">
        <div class="container">
          <h1 class="jumbotron-heading blog-heading">{{ post.title | escape }}</h1>
          <p class="lead text-muted">{{ post.tagline | escape }}</p>
          <p><a href="{{ post.url | relative_url }}" class="btn btn-secondary">View Post</a></p>
          <p class="card-text"><small class="text-muted">Posted {{ post.date | date: date_format }}</small></p>
        </div>
      </section>
    </div>
  </div>
  {% endfor %}
  <div class="row d-flex blog-row">
    {% assign limit = site.posts | size | minus:1 %}
    {% for i in (1..limit) %}
    {% assign post = site.posts[i] %}
    <div class="col-sm-4 p-2">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{ post.title | escape }}</h4>
          <p class="card-text">{{ post.tagline | escape }}</p>
          <p class="card-text"><small class="text-muted">Posted {{ post.date | date: date_format }}</small><a href="{{ post.url | relative_url }}" class="btn btn-secondary float-right">View Post</a></p>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>
