---
layout: default
---
<div class="container">
  <div class="media">
      <img class="d-flex mr-3" src="{{ "/assets/img/avatar.svg" | relative_url }}" alt="Avatar of Chris Chow" width="300">
      <div class="media-body align-middle">
        <div class="jumbotron mt-4">
          <h1 class="display-3">Hello, I'm Chris!</h1>
          <p class="lead">I love building things, understanding people, and performing research.</p>
        </div>
      </div>
  </div>
  <div class="row marketing">
    <div class="col-md">
      <img src="{{ "/assets/img/research.jpg" | relative_url }}" alt="Research Student" class="img-fluid">
      <h4 class="text-primary text-center mt-3">Researcher</h4>
      <p>I am currently a PhD Student within the Research School of Computer Science at the Australian National University.</p>
      <p>My research involves using physiological signals and deep learning models to predict topical relevance and interest in high-pressure environments.</p>
      <p>Ultimately, the goals for my research will be to improve user performance and experience while under stress or uncertainty. I plan to do this by maximising the availability and potential of biometrics in an ethical and privacy-preserving way.</p>
    </div>
    <div class="col-md">
      <img src="{{ "/assets/img/outreach.jpg" | relative_url }}" alt="Public Speaker" class="img-fluid">
      <h4 class="text-primary text-center mt-3">Communicator</h4>
      <p>I am a strong communicator who is passionate about encouraging students to pursue science, technology, engineering and math (STEM).</p>
      <p>I frequently participate in ICT outreach events in the Canberra community, and collaborate with the ANU College of Engineering and Computer Science.</p>
      <p>I have significant experience communicating with government and industry partners on cyber security matters.</p>
    </div>
    <div class="col-md">
      <img src="{{ "/assets/img/code.jpg" | relative_url }}" alt="Software Engineer" class="img-fluid">
      <h4 class="text-primary text-center mt-3">Developer</h4>
      <p>I am a part-time full stack web developer. I love building pretty things and using web technologies to convey ideas and stories.</p>
      <p>I have built several custom web applications for ANU, including experimental platforms for my own research.</p>
      <p>Ask me about Python, JavaScript, PHP, Django, Flask, Postgres, Celery or Docker.</p>
    </div>
  </div>
</div>