---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container post-header">
    <p class="post-title display-2" itemprop="name headline">{{ page.title | escape }}
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 pr-4" itemprop="articleBody">
      {{ content }}
      </div>
      <div class="col-4 pl-4">
        <p class="lead post-lead text-right">{{ page.tagline | escape }}</p>
        <p class="post-meta text-muted small text-right">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          Posted {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">by {{ page.author }}</span></span>
        {% endif %}
        </p>
        <p class="mt-5">
          <ul class="list-inline text-right">
          {% for tag in page.categories %}
              <li class="list-inline-item m-1 btn btn-secondary">{{ tag }}</li>
          {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
